<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Login</title>
  </head>
  <body>
    <div>
      <p>Redirecting to google...</p>
    </div>
  </body>
  <script>
    (async () => {
      try {
        const response = await fetch(
          "<%= betterAuthURL %>/api/auth/sign-in/social",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
            body: JSON.stringify({
              provider: "google",
              callBackURL: "<%= callbackURL %>",
            }),
          },
        );
        const data = await response.json();
        if (data.url) {
          window.location.href = data.url;
        } else {
          document.body.innerHTML = `
                            <div>
                                <p>Error occurred white redirecting to google. Please try again later</p>
                            </div>
                            `;
        }
      } catch (error) {
        document.body.innerHTML = `
                            <div>
                                <p>Error occurred white redirecting to google. Please try again later ${error.message}</p>
                            </div>
                            `;
      }
    })();
  </script>
</html>
